.return{
   width: 28px;
        height: 28px;
        position: relative;
        top:2px;
}
.tips{
  text-align: center;
  padding: 16px 0;
}

.actions{
  padding:0 16px 16px 16px;
  display: flex;
  justify-content: space-between;

  .removeTags,.removeTagsAndItems{
    width: 100%;
  }

}
.tag_create{border: none;}