.return {
  width: 28px;
  height: 28px;
  position: relative;
  top: 2px;
}

.inputPad_wrapper {
  flex-grow: 0;
  flex-shrink: 0;

}

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 84px);


}

.tabs {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.createTag {
  fill: var(--main);
}

