.button{
    border: 1px solid var(--Button-bg);
    padding: 12px 16px;
    background: var(--Button-bg);
    color: var(--Button-text-color);
    font-size: var(-Button-font-size);
    border-radius: var(--Button-radius);
    &[disabled]{
        opacity: 0.5;
        cursor: not-allowed;
    }
    &.normal{}
    &.important{}
    &.danger{
        background: var(--Button-bg-danger);
        border-color: var(--Button-bg-danger);
    }
}