.navbar{
    color: var(--navbar-text);
    background: linear-gradient(to bottom,var(--navbar-bg-start),var(--navbar-bg-end));
    fill:var(--navbar-text);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px 16px 12px;
     position: sticky;
     top:0;
     z-index: var(--navbar-z-index);
}
.title_wrapper{
    font-size: 20px;
    margin-left: 12px;
}
.icon_wrapper{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    >*{
        max-width: 100%;
        max-height: 100%;
    }

}