.mask{
    position: fixed;
    top:var(--top-safe-area-height);
    left: 0;
    z-index: var(--z-index-overlay);
    background: var(--overlay-mask-bg);
    width: 100%;
    height: calc(100% - var(--top-safe-area-height));
}
.overlay{
    position: fixed;
    z-index: var(--z-index-overlay);
    background: var(--overlay-bg);
    top:var(--top-safe-area-height);
    left: 0;
    width: 16em;
    height: calc(100% - var(--top-safe-area-height));
}