.button{
    width: 100%;

    &_wrapper{
    padding: 16px;
    }
}
.icon{
    width: 128px;
    height: 128px;

    &_wrapper{
        padding: 120px 0;
    }
}
 .pig{
        width: 30px;
        height: 30px;
        position: relative;
        top:2px;
    }
.start_page{border:none}
