:root {
  --appName-text:#2D515E;
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #382F41;
  --welcome-bg-end: #4E606C;
  --welcome-nav-height: 63px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 8; 
  --transition-duration: 0.5s;
  --Button-bg: #2D515E;
  --Button-text-color:white;
  --Button-font-size:0px;
  --Button-bg-danger:#e0513bea;
  --Button-radius:8px;
  --float-button-text:white;
  --float-button-bg:var(--Button-bg);
  --navbar-bg-start:var(--welcome-bg-start);
  --navbar-bg-end:var(--welcome-bg-end);
  --navbar-text:white;
  --navbar-z-index:16;
  --z-index-tabs:3;
  --z-index-overlay:18;
  --z-index-van-overlay:32;
  --overlay-mask-bg:rgba(0,0,0,0.5);
  --overlay-bg:white;
  --overlay-text:white;
  --overlay-selected-bg:#718EA0;
  --overlay-selected-text:var(--overlay-text);
  --main: #2D515E;
  --top-safe-area-height:24px;
  --overlay-user-bg: #2D515E;
  --overlay-user-text: white;

  --tabs--indicartor-bg:rgba(255,255,255,0.5);
  --tag-bg: #EFEFEF;
  --amount-text:#53a867;
  --date-text:#999999;
  --button-border-color:#ddd;
  --button-bg: white;
  --button-bg-important: #2D515E;
  --button-text-important:white;
  --input-min-height: 48px;
  --input-border-color: #2D515E;
  --input-radius: var(--Button-radius);
  --input-shadow: rgba(0,0,0,0.25);
  --error-color: #E10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;
  --bg: white;
  --text:#333;
  --dialog-header-text: white;
  --select-bg:var(--bg);
  --text-muted: #666;
  --bar-bg: #CCCCCC;
}