:root {
  --appName-text:#7878ff;
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5d33be;
  --welcome-bg-end: #8f4cd7;
  --welcome-nav-height: 63px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 8; 
  --transition-duration: 0.5s;
  --Button-bg: #5d33be;
  --Button-text-color:white;
  --Button-font-size:18px;
  --Button-bg-danger:#e0513bea;
  --Button-radius:8px;
  --float-button-text:white;
  --float-button-bg:var(--Button-bg);
  --navbar-bg-start:var(--welcome-bg-start);
  --navbar-bg-end:var(--welcome-bg-end);
  --navbar-text:white;
  --navbar-z-index:16;
  --z-index-overlay:18;
  --z-index-van-overlay:32;
  --overlay-mask-bg:rgba(0,0,0,0.5);
  --overlay-bg:white;
  --main: #5c33be;
  --top-safe-area-height:24px;
  --overlay-user-bg: #5C33BE;
  --overlay-user-text: white;
  --tabs--indicartor-bg:rgba(255,255,255,0.5);
  --tag-bg: #EFEFEF;
  --amount-text:#53a867;
  --date-text:#999999;
  --button-border-color:#ddd;
  --button-bg: white;
  --button-bg-important: #5C33BE;
  --button-text-important:white;
  --input-min-height: 48px;
  --input-border-color: #5c33be;
  --input-radius: var(--Button-radius);
  --input-shadow: rgba(0,0,0,0.25);
  --error-color: #E10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;
  --bg: white;
  --text:#333;
  --dialog-header-text: white;
  --select-bg:var(--bg)
}